{% extends "no-style-please/templates/page.html" %}

{% block footer %}

{{ super() }}

<script src="https://giscus.app/client.js"
        data-repo="kirederik/derik.dev"
        data-repo-id="R_kgDOL6ynSQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOL6ynSc4CfUdL"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{% endblock footer %}
